<hr>
<h5><i class="ui quote left icon"></i>一言（ヒトコト）</h5>
<div id="hitokoto_text" style="color: rgb(102, 102, 102);"></div>
<div style="text-align: right; margin-top: 15px; font-size: 0.9em; " id="hitokoto_from">123
</div>
<script>
    fetch('https://v1.hitokoto.cn/?c=a&c=b&c=d&c=i&c=k')
        .then(response => response.json())
        .then(data => {
            const hitokoto_text = document.getElementById('hitokoto_text')
            hitokoto_text.href = 'https://hitokoto.cn/?uuid=' + data.uuid
            hitokoto_text.innerText = data.hitokoto
            const hitokoto_from = document.getElementById('hitokoto_from')
            hitokoto_from.href = 'https://hitokoto.cn/?uuid=' + data.uuid
            hitokoto_from.innerText = '——' + data.from
        })
        .catch(console.error)
</script>